
*{
    padding: 0;
    margin: 0;

}

#header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
#title {
    color: white;
    font-size: 4em;  
   
}
#title:hover{
   color:#555;
   text-shadow:3px 3px 5px yellow;
}
#list{
    display: flex;
    flex-direction: row;
    list-style: none;
    
    
}
#link{
    color: white;
    font-size: 1.5em;
    margin-left: 1em;
}
#link:hover{
    color:yellow;
    
}
#main{
    background-color: rgb(196, 218, 213);
    min-height: 70vh;
    display: flex;
    
    
}
#main h1{
    
    font-size: 7em;
    margin: auto;
    animation-duration: 5s;
    animation-name: slide;
    animation-iteration-count: infinite;
}
@keyframes slide{
    0%{
        color:rgb(196, 218, 213);
    }
    50%{
        color:rgb(128, 118, 118);
    }
    80%{
        color: black;
    }

}
#footer{
    background-color: black;
    height: 170px;
    display: flex;
    
}
#footer h1{
    color:white;
    margin: auto;
    
}